[Unit]
Description=TTNmon Gateway Stats collector and forwarder
After=multi-user.target

[Service]
User=ttnmon
Type=idle
WorkingDirectory=/opt/TTNmon-Gateway-Stats
ExecStart=/usr/bin/python3 /opt/TTNmon-Gateway-Stats/ttnmon_forwarder.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
